@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

$mainFont: "Lato", sans-serif;
$secondFont: "Playfair Display", serif;
$fontColor: rgb(225, 225, 225);
$darkGrey: rgb(58, 58, 58);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@function breakpoint($name) {
  @return map-get($grid-breakpoints, $name);
}

@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin link {
  text-decoration: none;
  color: $mainFont;
  color: inherit;
}

@mixin bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: $fontColor;
  scroll-behavior: smooth;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 16px;
  font-family: $mainFont;
  @include flexbox;
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 10px;
    font-family: $mainFont;
    nav {
      @include flexbox;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;

      #logo {
        @media (min-width: breakpoint(sm)) {
          margin-left: 10px;
        }
        a {
          @include link;
        }
      }
      .nav-menu {
        @include flexbox;
        display: none;
        justify-items: center;
        gap: 15px;
        padding: 20px 20px 10px;
        position: absolute;
        top: 50px;
        left: -10px;
        background-color: $darkGrey;
        width: 100vw;
        @media (min-width: breakpoint(sm)) {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          flex-basis: 60%;
          position: static;
          background-color: transparent;
          padding: 0;
        }
        @media (min-width: breakpoint(md)) {
          flex-basis: 50%;
        }
        &.active {
          display: flex;
        }
        li {
          list-style: none;
          width: 100%;
          text-align: center;
          &:hover {
            text-decoration: underline;
          }

          a {
            font-size: 1rem;
            @include link;
            font-family: $mainFont;
            font-weight: 300;
          }
        }
      }
      #hamburger {
        @include flexbox;
        justify-content: space-between;
        width: 25px;
        height: 20px;
        padding: 0;
        border: none;
        background-color: transparent;
        border-radius: 3px;
        overflow: hidden;
        cursor: pointer;
        @media (min-width: breakpoint(sm)) {
          display: none;
        }
        span {
          height: 3px;
          width: 100%;
          background-color: $fontColor;
        }
        &.open {
          span {
            &:nth-child(1) {
              opacity: 0;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: translateY(-8.5px) rotate(-45deg);
            }
          }
        }
      }
    }
  }

  main {
    section {
      width: 100%;
      padding: 15px;
      background-color: rgb(255, 255, 255);
      scroll-margin-top: 60px;
      &#home {
        @include flexbox;
        height: 50vh;
        justify-content: flex-end;
        align-items: start;
        gap: 10px;
        padding-right: 25px;
        background-image: linear-gradient(
            to bottom,
            transparent 55%,
            rgb(255, 255, 255)
          ),
          url("\.\./images/stuart-bailey-8106891_1920.jpg");
        @include bg-image;
        margin-top: 60px;
        color: black;
        @media (min-width: breakpoint(sm)) {
          align-items: center;
        }
        @media (min-width: breakpoint(md)) {
          background-position: center 20%;
        }
        h1 {
          font-family: $secondFont;
          letter-spacing: 0.5px;
          font-size: 2rem;
          @media (min-width: breakpoint(sm)) {
            font-size: 2.5rem;
          }
        }
        p {
          @media (min-width: breakpoint(sm)) {
            text-align: center;
            padding: 0 50px;
          }
          @media (min-width: breakpoint(md)) {
            padding: 0 150px;
          }
        }
        button {
          font-family: $mainFont;
          padding: 3px 7px;
          border: 1px solid black;
          border-radius: 10px;
          margin: 5px;
          background-color: transparent;
          transition: all 0.3s ease-in-out;
          font-size: 0.9rem;
          line-height: 1;
          &:hover {
            background-color: rgb(0, 0, 0);
            color: $fontColor;
          }
          a {
            @include link;
          }
        }
      }
    }
    #about {
      @include flexbox;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 45px;

      article {
        @include flexbox;
        background-color: $darkGrey;
        padding: 20px;
        box-shadow: 0 0 5px black;
        @media (min-width: breakpoint(sm)) {
          flex-direction: row;
          margin: 100px 0;
        }
        @media (min-width: breakpoint(md)) {
          width: 75%;
          max-width: 1200px;
        }
        .img {
          background-image: url("\.\./images/man-2178721_1920.jpg");
          @include bg-image;
          width: 75%;
          aspect-ratio: 1 / 1;
          margin: 10px;
          filter: grayscale(1);
        }
        h2 {
          font-family: $secondFont;
          letter-spacing: 1px;
          margin-bottom: 5px;
          @media (min-width: breakpoint(sm)) {
            text-align: left;
            padding-left: 10px;
          }
        }
        p {
          font-family: $mainFont;
          font-size: 0.9rem;
          font-weight: 300;
          letter-spacing: 1px;
          @media (min-width: breakpoint(sm)) {
            text-align: left;
            padding: 0 10px;
            font-size: 1rem;
          }
        }
      }
    }
    #portfolio {
      background-color: black;
      @include flexbox;
      gap: 10px;
      h2 {
        font-family: $secondFont;
        letter-spacing: 1px;
      }
      button {
        font-family: $mainFont;
        border: none;
        color: $fontColor;
        margin: 5px;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        font-size: 0.9rem;
        line-height: 1;
        cursor: pointer;
        &:nth-child(1) {
          text-decoration: underline;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        width: 100%;
        aspect-ratio: 1 /1;
        max-width: 1200px;
        @media (min-width: breakpoint(sm)) {
          width: 75%;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
        }
        @media (min-width: breakpoint(md)) {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
        }
        .grid-item {
          @include bg-image;
          filter: grayscale(1);
          transition: all 0.2s linear;
          &:hover {
            filter: grayscale(0);
          }
        }

        &.portraits {
          .item-1 {
            background-image: url(\.\./images/portraits/dark-portraits-4717873_1920.jpg);
          }
          .item-2 {
            background-image: url(\.\./images/portraits/girl-1607404_1920.jpg);
          }
          .item-3 {
            background-image: url(\.\./images/portraits/peter-of-moravia-7468859_1920.jpg);
          }
          .item-4 {
            background-image: url(\.\./images/portraits/portraits-2781035_1920.jpg);
            grid-column: 2/3;
            grid-row: 2/4;
          }
          .item-5 {
            background-image: url(\.\./images/portraits/portraits-639856_1920.jpg);
            grid-column: 1/2;
            grid-row: 3/5;
          }
          .item-6 {
            background-image: url(\.\./images/portraits/travel-4947206_1920.jpg);
          }
        }
        &.weddings {
          .item-1 {
            background-image: url(\.\./images/weddings/bride-6230420_1920.jpg);
            grid-column: 1/2;
            grid-row: 1/3;
          }
          .item-2 {
            background-image: url(\.\./images/weddings/bride-6388640_1920.jpg);
          }
          .item-3 {
            background-image: url(\.\./images/weddings/bride-6825609_1920.jpg);
          }
          .item-4 {
            background-image: url(\.\./images/weddings/marriage-7201450_1920.jpg);
            grid-column: 2/3;
            grid-row: 2/4;
          }
          .item-5 {
            background-image: url(\.\./images/weddings/wedding-1745240_1920.jpg);
          }
          .item-6 {
            background-image: url(\.\./images/weddings/wedding-4445670_1920.jpg);
          }
        }

        &.outdoor {
          .item-1 {
            background-image: url(\.\./images/outdoor/cherry-blossoms-5005234_1920.jpg);

            grid-column: 1/2;
            grid-row: 1/3;
          }
          .item-2 {
            background-image: url(\.\./images/outdoor/nature-7398357_1920.jpg);
          }
          .item-3 {
            background-image: url(\.\./images/outdoor/sea-7212891_1920.jpg);
          }
          .item-4 {
            background-image: url(\.\./images/outdoor/vintage-photograph-6876622_1920.jpg);
          }
          .item-5 {
            background-image: url(\.\./images/outdoor/woman-5502771_1920.jpg);
          }
          .item-6 {
            background-image: url(\.\./images/outdoor/woman-6610442_1920.jpg);
            grid-column: 2/3;
            grid-row: 3/5;
          }
        }
        &.studio {
          .grid-item {
            background-position: center top;
          }

          .item-1 {
            background-image: url(\.\./images/studio/male-9687749_1920.jpg);
          }
          .item-2 {
            background-image: url(\.\./images/studio/living-room-8954155_1920.jpg);
          }
          .item-3 {
            background-image: url(\.\./images/studio/photography-1850469_1280.jpg);
          }
          .item-4 {
            background-image: url(\.\./images/studio/portrait-photography-9651674_1920.jpg);
          }
          .item-5 {
            background-image: url(\.\./images/studio/woman-2178816_1920.jpg);
            grid-column: 1/2;
            grid-row: 3/5;
          }
          .item-6 {
            background-image: url(\.\./images/studio/woman-8180642_1920.jpg);

            grid-column: 2/3;
            grid-row: 3/5;
          }
        }
      }
    }
    #services {
      @include flexbox;
      padding: 25px;
      gap: 25px;
      @media (min-width: breakpoint(sm)) {
        height: 55vh;
        flex-direction: row;
      }
      article {
        @include flexbox;
        gap: 5px;
        div {
          height: 45px;
          aspect-ratio: 1/1;
          @include bg-image;

          &#portrait-icon {
            background-image: url(../images/portrait_10446913.png);
          }
          &#wedding-icon {
            background-image: url(../images/rings_3656885.png);
          }
          &#product-icon {
            background-image: url(../images/mode-landscape_10447031.png);
          }
        }
        h3 {
          font-family: $secondFont;
          color: black;
          text-align: center;
        }
        p {
          font-family: $mainFont;
          color: black;
          margin-bottom: 15px;
          padding: 0 25px;
          text-align: center;
        }
      }
    }
  }

  footer {
    width: 100vw;
    background-color: 4;
    padding: 15px;
    margin-bottom: 5px;
    margin: 0 auto;
    @media (min-width: breakpoint(sm)) {
      padding-left: 25px;
    }
    #contact {
      width: 100%;
      max-width: 1200px;
      h2 {
        font-family: $secondFont;
        letter-spacing: 1px;
      }
      p {
        font-size: $mainFont;
        padding: 5px 5px;
        span {
          cursor: pointer;
        }
      }
    }
  }
}
